* {
    margin: 0;
    padding: 0;
    overflow-x: none;
}

.Main-header {
    background-color: rgb(250, 158, 177);
}


/* navigation bar css start */
.nav-container {
    display: flex;
    background-color: rgb(86, 192, 111);
}

.navigation-item {
    width: 100%;
    flex-wrap: nowrap;
    margin: auto;

}

.navigation-item ul li {
    list-style: none;
    float: right;
    margin-right: 3em;
    padding: .5em;

}

.logo {
    margin-top: 2vh;
}


.navigation-item ul li a {
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
 

}

.navigation-item ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -9px;
    background-color: rgb(0, 0, 0);
    height: 2px;
    width: 0%;
}

.navigation-item ul li a:hover::after {
    width: 100%;
    transition: all .5s ease;
}


.navigation-item ul li a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -9px;
    background-color: rgb(0, 0, 0);
    height: 2px;
    width: 0%;
}

.navigation-item ul li a:hover::before {
    width: 100%;
    transition: all .5s ease;
}

.login {
    background-color: rgba(0, 0, 0, 0.945);
    border: none;
    color: white;
    text-align: center;
    border-radius: 5px;

}

@media (max-width:865px) {
    .navigation-item {
        display: none;
    }
}

.btn {
    height: 50px;
    width: 200px;
    margin: 30px;
    font-size: 20px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    margin-top: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid rgb(89, 76, 76);
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.845);
    color: rgb(255, 255, 255);
    transition: .5s;
}

/* side navbar css  */

.side-bar {
    font-size: 1.3em;
    cursor: pointer;
    color: aliceblue;
    position: absolute;
    right: 5px;
    margin: auto;
    top: 1.2em;
}


.close {
    background-color: rgba(16, 17, 17, 0.595);
    padding: .5em;
    color: rgb(255, 255, 255);
    text-align: right;
    cursor: pointer;
    font-size: 25px;
}


.side_nav {
    background-color: rgba(16, 17, 17, 0.595);
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    width: 0px;
    overflow-x: hidden;
    z-index: 5;
}

.sidenavbar_links a {
    text-align: center;
    padding: 1em;
    color: rgb(255, 251, 251);
    background-color: black;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    margin-top: 1em;
    display: block;
}

.sidenavbar_links a:hover {
    background-color: rgb(86, 192, 111);
    font-weight: bold;
    transition: all .5s;
    color: black;
}

/* navigation bar css end */


/* heading content css start */

.textbox {
    text-align: center;
    padding: 2em;
    margin-top: 4em;
    width: 80%;
}

.header-image {
    box-shadow: rgba(9, 9, 9, 0.353) 10px 10px 10px 10px;
    height: 100%;
}

.textbox h1 {
    font-size: 3em;
}

.headpara {
    font-size: 2em;
    font-weight: bolder;
}

.landingpage-content {
    display: flex;
    padding: 1em;
}

.paratext {
    margin: .5em;
    padding: .3em;
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media(max-width:1024px) {
    .landingpage-content {
        flex-direction: column;
    }
}

/* heading content (end) */



/* Container body (start) */

.card-container {
    text-align: center;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;

}

.card-body {
    height: 300px;
    width: 270px;
    flex-wrap: wrap;
    margin: 12px;
    margin-left: 3em;
    background-color: rgb(86, 192, 111);
    color: rgba(18, 19, 19, 0.712);
    align-items: center;
    margin-top: 13px;
    box-shadow: 5px 4px 5px 4px;
    margin: auto;
    margin-top: 12px;

}

@media screen and (min-width:942px) {
    .card-body {
        flex-direction: column;
        position: relative;
    }
}

.icons {
    color: rgb(10, 10, 10);
    margin: 20px;
}

h5 {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7em;
    margin-top: 6px;
    color: rgb(255, 255, 255);
}

#para2 {
    margin: 10px;
    padding: 10px;
    color: rgb(255, 252, 252);
    font-size: 17px;
    font-weight: 300;
}

.button2 {
    cursor: pointer;
    margin-top: 10px;
    height: 30px;
    width: 120px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid white;
    background-color: rgb(255, 255, 255);
}

.button2:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: .5s;
}

.gallery {
    margin-top: 1.5em;
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;

}

.desc-box {
    font-size: 3em;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 30px;
}

.description-box {
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    text-align: center;
    font-size: large;
}


.description-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.product-details-card-item {
    padding: 1em;
    text-align: center;
    margin-left: 1em;
    margin-bottom: 1em;
    box-shadow: 2px 12px 12px 12px rgba(0, 0, 0, 0.212);
    border-radius: 5px;
}

.button3 {
    cursor: pointer;
    margin: 10px;
    height: 30px;
    width: 100px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    background-color: black;
    color: rgb(255, 251, 251);
}

.button3:hover {
    color: rgb(19, 18, 18);
    background-color: rgb(255, 221, 0);
}

/* footer body (starts) */

.footer-container {
    background-color: #24262b;
    box-sizing: border-box;
    padding: 70px 0;
}

.footer {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
}

.footer-col {
    width: 25%;
}

.heading {
    font-size: 18px;
    color: white;
    margin-bottom: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: rgb(169, 169, 169);
    display: block;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 8px;
    transition: 0.3s ease;
}


.social-links {
    display: flex;
}

.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(250, 158, 177);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--tomato);
}



.facebook a:hover {
    background-color: rgb(86, 192, 111);
}

.twitter a:hover {
    background-color: rgb(86, 192, 111);
}

.instagram a:hover {
    background-color: rgb(86, 192, 111);
}

.linkedin a:hover {
    background-color: rgb(86, 192, 111);
}



@media(max-width: 750px) {
    .footer-col {
        width: 50%;
        padding: 0 15px 20px;

    }
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    column-gap: 5px;

}